<div class="bg-light bg-gradient w-auto border-1 p-3 rounded position-absolute top-50 start-50"style="transform:translate(-50%,-50%)">
  <h2 class="text-center">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mt-1">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"w-100 p-1 rounded"%>
    </div>

    <div class="field mt-1">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"w-100 p-1 rounded" %>
    </div>

    <!-- <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %> -->

    <div class="actions w-100 text-center mt-3">
      <%= f.submit "Log in", class:"btn btn-primary col-12" %>
    </div>
  <% end %>
</div>